{
  "openapi": "3.1.0",
  "info": {
    "title": "Patreon API",
    "version": "2",
    "description": "An unofficial OpenAPI schema for the V2 Patreon API. Made based on the official api with https://github.com/ghostrider-05/patreon-api.ts",
    "termsOfService": "https://patreon.com/legal",
    "contact": {
      "name": "Patreon",
      "url": "https://www.patreondevelopers.com/"
    }
  },
  "externalDocs": {
    "description": "Official Patreon documentation",
    "url": "https://docs.patreon.com"
  },
  "servers": [
    {
      "description": "API domain",
      "url": "https://patreon.com"
    }
  ],
  "tags": [
    {
      "name": "Resources",
      "externalDocs": {
        "description": "Resource endpoints documentation",
        "url": "https://docs.patreon.com/#apiv2-resource-endpoints"
      }
    },
    {
      "name": "Webhooks",
      "externalDocs": {
        "description": "Webhook endpoints documentation",
        "url": "https://docs.patreon.com/#apiv2-webhook-endpoints"
      }
    }
  ],
  "components": {
    "headers": {
      "x-patreon-uuid": {
        "schema": {
          "type": "string"
        }
      },
      "x-patreon-sha": {
        "schema": {
          "type": "string"
        }
      },
      "cf-cache-status": {
        "schema": {
          "type": "string"
        }
      },
      "cf-ray": {
        "schema": {
          "type": "string"
        }
      },
      "X-Patreon-Event": {
        "schema": {
          "type": "string"
        }
      },
      "X-Patreon-Signature": {
        "schema": {
          "type": "string"
        }
      }
    },
    "parameters": {
      "id": {
        "name": "id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "campaign_id": {
        "name": "campaign_id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "userAgent": {
        "name": "User-Agent",
        "in": "header",
        "required": true,
        "schema": {
          "type": "string",
          "default": "PatreonBot patreon-api.ts (https://github.com/ghostrider-05/patreon-api.ts, 0.8.0)"
        }
      }
    },
    "responses": {
      "400": {
        "description": "Bad Request: Something was wrong with your request (syntax, size too large, etc.)",
        "content": {
          "application/json": {
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/APIError"
              }
            }
          }
        },
        "headers": {
          "x-patreon-sha": {
            "$ref": "#/components/headers/x-patreon-sha"
          },
          "x-patreon-uuid": {
            "$ref": "#/components/headers/x-patreon-uuid"
          },
          "cf-cache-status": {
            "$ref": "#/components/headers/cf-cache-status"
          },
          "cf-ray": {
            "$ref": "#/components/headers/cf-ray"
          }
        }
      },
      "401": {
        "description": "Unauthorized: Authentication failed (bad API key, invalid OAuth token, incorrect scopes, etc.)",
        "content": {
          "application/json": {
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/APIError"
              }
            }
          }
        },
        "headers": {
          "x-patreon-sha": {
            "$ref": "#/components/headers/x-patreon-sha"
          },
          "x-patreon-uuid": {
            "$ref": "#/components/headers/x-patreon-uuid"
          },
          "cf-cache-status": {
            "$ref": "#/components/headers/cf-cache-status"
          },
          "cf-ray": {
            "$ref": "#/components/headers/cf-ray"
          }
        }
      },
      "403": {
        "description": "Forbidden: The requested is hidden for administrators only.",
        "content": {
          "application/json": {
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/APIError"
              }
            }
          }
        },
        "headers": {
          "x-patreon-sha": {
            "$ref": "#/components/headers/x-patreon-sha"
          },
          "x-patreon-uuid": {
            "$ref": "#/components/headers/x-patreon-uuid"
          },
          "cf-cache-status": {
            "$ref": "#/components/headers/cf-cache-status"
          },
          "cf-ray": {
            "$ref": "#/components/headers/cf-ray"
          }
        }
      },
      "404": {
        "description": "Not Found: The specified resource could not be found.",
        "content": {
          "application/json": {
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/APIError"
              }
            }
          }
        },
        "headers": {
          "x-patreon-sha": {
            "$ref": "#/components/headers/x-patreon-sha"
          },
          "x-patreon-uuid": {
            "$ref": "#/components/headers/x-patreon-uuid"
          },
          "cf-cache-status": {
            "$ref": "#/components/headers/cf-cache-status"
          },
          "cf-ray": {
            "$ref": "#/components/headers/cf-ray"
          }
        }
      },
      "405": {
        "description": "Method Not Allowed: You tried to access a resource with an invalid method.",
        "content": {
          "application/json": {
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/APIError"
              }
            }
          }
        },
        "headers": {
          "x-patreon-sha": {
            "$ref": "#/components/headers/x-patreon-sha"
          },
          "x-patreon-uuid": {
            "$ref": "#/components/headers/x-patreon-uuid"
          },
          "cf-cache-status": {
            "$ref": "#/components/headers/cf-cache-status"
          },
          "cf-ray": {
            "$ref": "#/components/headers/cf-ray"
          }
        }
      },
      "406": {
        "description": "Not Acceptable: You requested a format that isn't json.",
        "content": {
          "application/json": {
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/APIError"
              }
            }
          }
        },
        "headers": {
          "x-patreon-sha": {
            "$ref": "#/components/headers/x-patreon-sha"
          },
          "x-patreon-uuid": {
            "$ref": "#/components/headers/x-patreon-uuid"
          },
          "cf-cache-status": {
            "$ref": "#/components/headers/cf-cache-status"
          },
          "cf-ray": {
            "$ref": "#/components/headers/cf-ray"
          }
        }
      },
      "410": {
        "description": "Gone: The resource requested has been removed from our servers.",
        "content": {
          "application/json": {
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/APIError"
              }
            }
          }
        },
        "headers": {
          "x-patreon-sha": {
            "$ref": "#/components/headers/x-patreon-sha"
          },
          "x-patreon-uuid": {
            "$ref": "#/components/headers/x-patreon-uuid"
          },
          "cf-cache-status": {
            "$ref": "#/components/headers/cf-cache-status"
          },
          "cf-ray": {
            "$ref": "#/components/headers/cf-ray"
          }
        }
      },
      "429": {
        "description": "Too Many Requests: Slow down!",
        "content": {
          "application/json": {
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/APIError"
              }
            }
          }
        },
        "headers": {
          "x-patreon-sha": {
            "$ref": "#/components/headers/x-patreon-sha"
          },
          "x-patreon-uuid": {
            "$ref": "#/components/headers/x-patreon-uuid"
          },
          "cf-cache-status": {
            "$ref": "#/components/headers/cf-cache-status"
          },
          "cf-ray": {
            "$ref": "#/components/headers/cf-ray"
          }
        }
      },
      "500": {
        "description": "Internal Server Error: Our server ran into a problem while processing this request. Please try again later.",
        "content": {
          "application/json": {
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/APIError"
              }
            }
          }
        },
        "headers": {
          "x-patreon-sha": {
            "$ref": "#/components/headers/x-patreon-sha"
          },
          "x-patreon-uuid": {
            "$ref": "#/components/headers/x-patreon-uuid"
          },
          "cf-cache-status": {
            "$ref": "#/components/headers/cf-cache-status"
          },
          "cf-ray": {
            "$ref": "#/components/headers/cf-ray"
          }
        }
      },
      "503": {
        "description": "Service Unavailable: We're temporarily offline for maintenance. Please try again later.",
        "content": {
          "application/json": {
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/APIError"
              }
            }
          }
        },
        "headers": {
          "x-patreon-sha": {
            "$ref": "#/components/headers/x-patreon-sha"
          },
          "x-patreon-uuid": {
            "$ref": "#/components/headers/x-patreon-uuid"
          },
          "cf-cache-status": {
            "$ref": "#/components/headers/cf-cache-status"
          },
          "cf-ray": {
            "$ref": "#/components/headers/cf-ray"
          }
        }
      },
      "userResponse": {
        "description": "OK: Completed your request succesfully",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "required": [
                "data",
                "meta"
              ],
              "properties": {
                "data": {
                  "required": [
                    "id",
                    "type"
                  ],
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string",
                      "enum": [
                        "user"
                      ]
                    },
                    "attributes": {
                      "$ref": "#/components/schemas/user"
                    },
                    "relationships": {
                      "properties": {
                        "campaign": {
                          "required": [
                            "data"
                          ],
                          "properties": {
                            "data": {
                              "properties": {
                                "id": {
                                  "type": "string"
                                },
                                "type": {
                                  "type": "string",
                                  "enum": [
                                    "campaign"
                                  ]
                                }
                              },
                              "required": [
                                "id",
                                "type"
                              ]
                            },
                            "links": {
                              "properties": {
                                "related": {
                                  "type": "string",
                                  "format": "uri"
                                }
                              }
                            }
                          }
                        },
                        "memberships": {
                          "required": [
                            "data"
                          ],
                          "properties": {
                            "data": {
                              "type": "array",
                              "items": {
                                "properties": {
                                  "id": {
                                    "type": "string"
                                  },
                                  "type": {
                                    "type": "string",
                                    "enum": [
                                      "member"
                                    ]
                                  }
                                },
                                "required": [
                                  "id",
                                  "type"
                                ]
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "included": {
                  "type": "array",
                  "items": {
                    "oneOf": [
                      {
                        "required": [
                          "attributes",
                          "type",
                          "id"
                        ],
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string",
                            "enum": [
                              "campaign"
                            ]
                          },
                          "attributes": {
                            "$ref": "#/components/schemas/campaign"
                          }
                        }
                      },
                      {
                        "required": [
                          "attributes",
                          "type",
                          "id"
                        ],
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string",
                            "enum": [
                              "member"
                            ]
                          },
                          "attributes": {
                            "$ref": "#/components/schemas/member"
                          }
                        }
                      }
                    ]
                  }
                },
                "links": {
                  "properties": {
                    "self": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "headers": {
          "x-patreon-sha": {
            "$ref": "#/components/headers/x-patreon-sha"
          },
          "x-patreon-uuid": {
            "$ref": "#/components/headers/x-patreon-uuid"
          },
          "cf-cache-status": {
            "$ref": "#/components/headers/cf-cache-status"
          },
          "cf-ray": {
            "$ref": "#/components/headers/cf-ray"
          }
        }
      },
      "campaignResponse": {
        "description": "OK: Completed your request succesfully",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "required": [
                "data",
                "meta"
              ],
              "properties": {
                "data": {
                  "required": [
                    "id",
                    "type"
                  ],
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string",
                      "enum": [
                        "campaign"
                      ]
                    },
                    "attributes": {
                      "$ref": "#/components/schemas/campaign"
                    },
                    "relationships": {
                      "properties": {
                        "benefits": {
                          "required": [
                            "data"
                          ],
                          "properties": {
                            "data": {
                              "type": "array",
                              "items": {
                                "properties": {
                                  "id": {
                                    "type": "string"
                                  },
                                  "type": {
                                    "type": "string",
                                    "enum": [
                                      "benefit"
                                    ]
                                  }
                                },
                                "required": [
                                  "id",
                                  "type"
                                ]
                              }
                            }
                          }
                        },
                        "creator": {
                          "required": [
                            "data"
                          ],
                          "properties": {
                            "data": {
                              "properties": {
                                "id": {
                                  "type": "string"
                                },
                                "type": {
                                  "type": "string",
                                  "enum": [
                                    "user"
                                  ]
                                }
                              },
                              "required": [
                                "id",
                                "type"
                              ]
                            },
                            "links": {
                              "properties": {
                                "related": {
                                  "type": "string",
                                  "format": "uri"
                                }
                              }
                            }
                          }
                        },
                        "goals": {
                          "required": [
                            "data"
                          ],
                          "properties": {
                            "data": {
                              "type": "array",
                              "items": {
                                "properties": {
                                  "id": {
                                    "type": "string"
                                  },
                                  "type": {
                                    "type": "string",
                                    "enum": [
                                      "goal"
                                    ]
                                  }
                                },
                                "required": [
                                  "id",
                                  "type"
                                ]
                              }
                            }
                          }
                        },
                        "tiers": {
                          "required": [
                            "data"
                          ],
                          "properties": {
                            "data": {
                              "type": "array",
                              "items": {
                                "properties": {
                                  "id": {
                                    "type": "string"
                                  },
                                  "type": {
                                    "type": "string",
                                    "enum": [
                                      "tier"
                                    ]
                                  }
                                },
                                "required": [
                                  "id",
                                  "type"
                                ]
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "included": {
                  "type": "array",
                  "items": {
                    "oneOf": [
                      {
                        "required": [
                          "attributes",
                          "type",
                          "id"
                        ],
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string",
                            "enum": [
                              "benefit"
                            ]
                          },
                          "attributes": {
                            "$ref": "#/components/schemas/benefit"
                          }
                        }
                      },
                      {
                        "required": [
                          "attributes",
                          "type",
                          "id"
                        ],
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string",
                            "enum": [
                              "user"
                            ]
                          },
                          "attributes": {
                            "$ref": "#/components/schemas/user"
                          }
                        }
                      },
                      {
                        "required": [
                          "attributes",
                          "type",
                          "id"
                        ],
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string",
                            "enum": [
                              "goal"
                            ]
                          },
                          "attributes": {
                            "$ref": "#/components/schemas/goal"
                          }
                        }
                      },
                      {
                        "required": [
                          "attributes",
                          "type",
                          "id"
                        ],
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string",
                            "enum": [
                              "tier"
                            ]
                          },
                          "attributes": {
                            "$ref": "#/components/schemas/tier"
                          }
                        }
                      }
                    ]
                  }
                },
                "links": {
                  "properties": {
                    "self": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "headers": {
          "x-patreon-sha": {
            "$ref": "#/components/headers/x-patreon-sha"
          },
          "x-patreon-uuid": {
            "$ref": "#/components/headers/x-patreon-uuid"
          },
          "cf-cache-status": {
            "$ref": "#/components/headers/cf-cache-status"
          },
          "cf-ray": {
            "$ref": "#/components/headers/cf-ray"
          }
        }
      },
      "campaignsResponse": {
        "description": "OK: Completed your request succesfully",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "required": [
                "data",
                "links"
              ],
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "required": [
                      "id",
                      "type"
                    ],
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "type": {
                        "type": "string",
                        "enum": [
                          "campaign"
                        ]
                      },
                      "attributes": {
                        "$ref": "#/components/schemas/campaign"
                      },
                      "relationships": {
                        "properties": {
                          "benefits": {
                            "required": [
                              "data"
                            ],
                            "properties": {
                              "data": {
                                "type": "array",
                                "items": {
                                  "properties": {
                                    "id": {
                                      "type": "string"
                                    },
                                    "type": {
                                      "type": "string",
                                      "enum": [
                                        "benefit"
                                      ]
                                    }
                                  },
                                  "required": [
                                    "id",
                                    "type"
                                  ]
                                }
                              }
                            }
                          },
                          "creator": {
                            "required": [
                              "data"
                            ],
                            "properties": {
                              "data": {
                                "properties": {
                                  "id": {
                                    "type": "string"
                                  },
                                  "type": {
                                    "type": "string",
                                    "enum": [
                                      "user"
                                    ]
                                  }
                                },
                                "required": [
                                  "id",
                                  "type"
                                ]
                              },
                              "links": {
                                "properties": {
                                  "related": {
                                    "type": "string",
                                    "format": "uri"
                                  }
                                }
                              }
                            }
                          },
                          "goals": {
                            "required": [
                              "data"
                            ],
                            "properties": {
                              "data": {
                                "type": "array",
                                "items": {
                                  "properties": {
                                    "id": {
                                      "type": "string"
                                    },
                                    "type": {
                                      "type": "string",
                                      "enum": [
                                        "goal"
                                      ]
                                    }
                                  },
                                  "required": [
                                    "id",
                                    "type"
                                  ]
                                }
                              }
                            }
                          },
                          "tiers": {
                            "required": [
                              "data"
                            ],
                            "properties": {
                              "data": {
                                "type": "array",
                                "items": {
                                  "properties": {
                                    "id": {
                                      "type": "string"
                                    },
                                    "type": {
                                      "type": "string",
                                      "enum": [
                                        "tier"
                                      ]
                                    }
                                  },
                                  "required": [
                                    "id",
                                    "type"
                                  ]
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "included": {
                  "type": "array",
                  "items": {
                    "oneOf": [
                      {
                        "required": [
                          "attributes",
                          "type",
                          "id"
                        ],
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string",
                            "enum": [
                              "benefit"
                            ]
                          },
                          "attributes": {
                            "$ref": "#/components/schemas/benefit"
                          }
                        }
                      },
                      {
                        "required": [
                          "attributes",
                          "type",
                          "id"
                        ],
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string",
                            "enum": [
                              "user"
                            ]
                          },
                          "attributes": {
                            "$ref": "#/components/schemas/user"
                          }
                        }
                      },
                      {
                        "required": [
                          "attributes",
                          "type",
                          "id"
                        ],
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string",
                            "enum": [
                              "goal"
                            ]
                          },
                          "attributes": {
                            "$ref": "#/components/schemas/goal"
                          }
                        }
                      },
                      {
                        "required": [
                          "attributes",
                          "type",
                          "id"
                        ],
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string",
                            "enum": [
                              "tier"
                            ]
                          },
                          "attributes": {
                            "$ref": "#/components/schemas/tier"
                          }
                        }
                      }
                    ]
                  }
                },
                "meta": {
                  "properties": {
                    "total": {
                      "type": "number"
                    },
                    "pagination": {
                      "properties": {
                        "cursors": {
                          "properties": {
                            "next": {
                              "type": [
                                "string",
                                "null"
                              ]
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "headers": {
          "x-patreon-sha": {
            "$ref": "#/components/headers/x-patreon-sha"
          },
          "x-patreon-uuid": {
            "$ref": "#/components/headers/x-patreon-uuid"
          },
          "cf-cache-status": {
            "$ref": "#/components/headers/cf-cache-status"
          },
          "cf-ray": {
            "$ref": "#/components/headers/cf-ray"
          }
        }
      },
      "membersResponse": {
        "description": "OK: Completed your request succesfully",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "required": [
                "data",
                "links"
              ],
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "required": [
                      "id",
                      "type"
                    ],
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "type": {
                        "type": "string",
                        "enum": [
                          "member"
                        ]
                      },
                      "attributes": {
                        "$ref": "#/components/schemas/member"
                      },
                      "relationships": {
                        "properties": {
                          "address": {
                            "required": [
                              "data"
                            ],
                            "properties": {
                              "data": {
                                "properties": {
                                  "id": {
                                    "type": "string"
                                  },
                                  "type": {
                                    "type": "string",
                                    "enum": [
                                      "address"
                                    ]
                                  }
                                },
                                "required": [
                                  "id",
                                  "type"
                                ]
                              },
                              "links": {
                                "properties": {
                                  "related": {
                                    "type": "string",
                                    "format": "uri"
                                  }
                                }
                              }
                            }
                          },
                          "campaign": {
                            "required": [
                              "data"
                            ],
                            "properties": {
                              "data": {
                                "properties": {
                                  "id": {
                                    "type": "string"
                                  },
                                  "type": {
                                    "type": "string",
                                    "enum": [
                                      "campaign"
                                    ]
                                  }
                                },
                                "required": [
                                  "id",
                                  "type"
                                ]
                              },
                              "links": {
                                "properties": {
                                  "related": {
                                    "type": "string",
                                    "format": "uri"
                                  }
                                }
                              }
                            }
                          },
                          "currently_entitled_tiers": {
                            "required": [
                              "data"
                            ],
                            "properties": {
                              "data": {
                                "type": "array",
                                "items": {
                                  "properties": {
                                    "id": {
                                      "type": "string"
                                    },
                                    "type": {
                                      "type": "string",
                                      "enum": [
                                        "tier"
                                      ]
                                    }
                                  },
                                  "required": [
                                    "id",
                                    "type"
                                  ]
                                }
                              }
                            }
                          },
                          "pledge_history": {
                            "required": [
                              "data"
                            ],
                            "properties": {
                              "data": {
                                "type": "array",
                                "items": {
                                  "properties": {
                                    "id": {
                                      "type": "string"
                                    },
                                    "type": {
                                      "type": "string",
                                      "enum": [
                                        "pledge-event"
                                      ]
                                    }
                                  },
                                  "required": [
                                    "id",
                                    "type"
                                  ]
                                }
                              }
                            }
                          },
                          "user": {
                            "required": [
                              "data"
                            ],
                            "properties": {
                              "data": {
                                "properties": {
                                  "id": {
                                    "type": "string"
                                  },
                                  "type": {
                                    "type": "string",
                                    "enum": [
                                      "user"
                                    ]
                                  }
                                },
                                "required": [
                                  "id",
                                  "type"
                                ]
                              },
                              "links": {
                                "properties": {
                                  "related": {
                                    "type": "string",
                                    "format": "uri"
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "included": {
                  "type": "array",
                  "items": {
                    "oneOf": [
                      {
                        "required": [
                          "attributes",
                          "type",
                          "id"
                        ],
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string",
                            "enum": [
                              "address"
                            ]
                          },
                          "attributes": {
                            "$ref": "#/components/schemas/address"
                          }
                        }
                      },
                      {
                        "required": [
                          "attributes",
                          "type",
                          "id"
                        ],
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string",
                            "enum": [
                              "campaign"
                            ]
                          },
                          "attributes": {
                            "$ref": "#/components/schemas/campaign"
                          }
                        }
                      },
                      {
                        "required": [
                          "attributes",
                          "type",
                          "id"
                        ],
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string",
                            "enum": [
                              "tier"
                            ]
                          },
                          "attributes": {
                            "$ref": "#/components/schemas/tier"
                          }
                        }
                      },
                      {
                        "required": [
                          "attributes",
                          "type",
                          "id"
                        ],
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string",
                            "enum": [
                              "pledge-event"
                            ]
                          },
                          "attributes": {
                            "$ref": "#/components/schemas/pledge-event"
                          }
                        }
                      },
                      {
                        "required": [
                          "attributes",
                          "type",
                          "id"
                        ],
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string",
                            "enum": [
                              "user"
                            ]
                          },
                          "attributes": {
                            "$ref": "#/components/schemas/user"
                          }
                        }
                      }
                    ]
                  }
                },
                "meta": {
                  "properties": {
                    "total": {
                      "type": "number"
                    },
                    "pagination": {
                      "properties": {
                        "cursors": {
                          "properties": {
                            "next": {
                              "type": [
                                "string",
                                "null"
                              ]
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "headers": {
          "x-patreon-sha": {
            "$ref": "#/components/headers/x-patreon-sha"
          },
          "x-patreon-uuid": {
            "$ref": "#/components/headers/x-patreon-uuid"
          },
          "cf-cache-status": {
            "$ref": "#/components/headers/cf-cache-status"
          },
          "cf-ray": {
            "$ref": "#/components/headers/cf-ray"
          }
        }
      },
      "memberResponse": {
        "description": "OK: Completed your request succesfully",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "required": [
                "data",
                "meta"
              ],
              "properties": {
                "data": {
                  "required": [
                    "id",
                    "type"
                  ],
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string",
                      "enum": [
                        "member"
                      ]
                    },
                    "attributes": {
                      "$ref": "#/components/schemas/member"
                    },
                    "relationships": {
                      "properties": {
                        "address": {
                          "required": [
                            "data"
                          ],
                          "properties": {
                            "data": {
                              "properties": {
                                "id": {
                                  "type": "string"
                                },
                                "type": {
                                  "type": "string",
                                  "enum": [
                                    "address"
                                  ]
                                }
                              },
                              "required": [
                                "id",
                                "type"
                              ]
                            },
                            "links": {
                              "properties": {
                                "related": {
                                  "type": "string",
                                  "format": "uri"
                                }
                              }
                            }
                          }
                        },
                        "campaign": {
                          "required": [
                            "data"
                          ],
                          "properties": {
                            "data": {
                              "properties": {
                                "id": {
                                  "type": "string"
                                },
                                "type": {
                                  "type": "string",
                                  "enum": [
                                    "campaign"
                                  ]
                                }
                              },
                              "required": [
                                "id",
                                "type"
                              ]
                            },
                            "links": {
                              "properties": {
                                "related": {
                                  "type": "string",
                                  "format": "uri"
                                }
                              }
                            }
                          }
                        },
                        "currently_entitled_tiers": {
                          "required": [
                            "data"
                          ],
                          "properties": {
                            "data": {
                              "type": "array",
                              "items": {
                                "properties": {
                                  "id": {
                                    "type": "string"
                                  },
                                  "type": {
                                    "type": "string",
                                    "enum": [
                                      "tier"
                                    ]
                                  }
                                },
                                "required": [
                                  "id",
                                  "type"
                                ]
                              }
                            }
                          }
                        },
                        "pledge_history": {
                          "required": [
                            "data"
                          ],
                          "properties": {
                            "data": {
                              "type": "array",
                              "items": {
                                "properties": {
                                  "id": {
                                    "type": "string"
                                  },
                                  "type": {
                                    "type": "string",
                                    "enum": [
                                      "pledge-event"
                                    ]
                                  }
                                },
                                "required": [
                                  "id",
                                  "type"
                                ]
                              }
                            }
                          }
                        },
                        "user": {
                          "required": [
                            "data"
                          ],
                          "properties": {
                            "data": {
                              "properties": {
                                "id": {
                                  "type": "string"
                                },
                                "type": {
                                  "type": "string",
                                  "enum": [
                                    "user"
                                  ]
                                }
                              },
                              "required": [
                                "id",
                                "type"
                              ]
                            },
                            "links": {
                              "properties": {
                                "related": {
                                  "type": "string",
                                  "format": "uri"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "included": {
                  "type": "array",
                  "items": {
                    "oneOf": [
                      {
                        "required": [
                          "attributes",
                          "type",
                          "id"
                        ],
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string",
                            "enum": [
                              "address"
                            ]
                          },
                          "attributes": {
                            "$ref": "#/components/schemas/address"
                          }
                        }
                      },
                      {
                        "required": [
                          "attributes",
                          "type",
                          "id"
                        ],
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string",
                            "enum": [
                              "campaign"
                            ]
                          },
                          "attributes": {
                            "$ref": "#/components/schemas/campaign"
                          }
                        }
                      },
                      {
                        "required": [
                          "attributes",
                          "type",
                          "id"
                        ],
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string",
                            "enum": [
                              "tier"
                            ]
                          },
                          "attributes": {
                            "$ref": "#/components/schemas/tier"
                          }
                        }
                      },
                      {
                        "required": [
                          "attributes",
                          "type",
                          "id"
                        ],
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string",
                            "enum": [
                              "pledge-event"
                            ]
                          },
                          "attributes": {
                            "$ref": "#/components/schemas/pledge-event"
                          }
                        }
                      },
                      {
                        "required": [
                          "attributes",
                          "type",
                          "id"
                        ],
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string",
                            "enum": [
                              "user"
                            ]
                          },
                          "attributes": {
                            "$ref": "#/components/schemas/user"
                          }
                        }
                      }
                    ]
                  }
                },
                "links": {
                  "properties": {
                    "self": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "headers": {
          "x-patreon-sha": {
            "$ref": "#/components/headers/x-patreon-sha"
          },
          "x-patreon-uuid": {
            "$ref": "#/components/headers/x-patreon-uuid"
          },
          "cf-cache-status": {
            "$ref": "#/components/headers/cf-cache-status"
          },
          "cf-ray": {
            "$ref": "#/components/headers/cf-ray"
          }
        }
      },
      "postsResponse": {
        "description": "OK: Completed your request succesfully",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "required": [
                "data",
                "links"
              ],
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "required": [
                      "id",
                      "type"
                    ],
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "type": {
                        "type": "string",
                        "enum": [
                          "post"
                        ]
                      },
                      "attributes": {
                        "$ref": "#/components/schemas/post"
                      },
                      "relationships": {
                        "properties": {
                          "user": {
                            "required": [
                              "data"
                            ],
                            "properties": {
                              "data": {
                                "properties": {
                                  "id": {
                                    "type": "string"
                                  },
                                  "type": {
                                    "type": "string",
                                    "enum": [
                                      "user"
                                    ]
                                  }
                                },
                                "required": [
                                  "id",
                                  "type"
                                ]
                              },
                              "links": {
                                "properties": {
                                  "related": {
                                    "type": "string",
                                    "format": "uri"
                                  }
                                }
                              }
                            }
                          },
                          "campaign": {
                            "required": [
                              "data"
                            ],
                            "properties": {
                              "data": {
                                "properties": {
                                  "id": {
                                    "type": "string"
                                  },
                                  "type": {
                                    "type": "string",
                                    "enum": [
                                      "campaign"
                                    ]
                                  }
                                },
                                "required": [
                                  "id",
                                  "type"
                                ]
                              },
                              "links": {
                                "properties": {
                                  "related": {
                                    "type": "string",
                                    "format": "uri"
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "included": {
                  "type": "array",
                  "items": {
                    "oneOf": [
                      {
                        "required": [
                          "attributes",
                          "type",
                          "id"
                        ],
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string",
                            "enum": [
                              "user"
                            ]
                          },
                          "attributes": {
                            "$ref": "#/components/schemas/user"
                          }
                        }
                      },
                      {
                        "required": [
                          "attributes",
                          "type",
                          "id"
                        ],
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string",
                            "enum": [
                              "campaign"
                            ]
                          },
                          "attributes": {
                            "$ref": "#/components/schemas/campaign"
                          }
                        }
                      }
                    ]
                  }
                },
                "meta": {
                  "properties": {
                    "total": {
                      "type": "number"
                    },
                    "pagination": {
                      "properties": {
                        "cursors": {
                          "properties": {
                            "next": {
                              "type": [
                                "string",
                                "null"
                              ]
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "headers": {
          "x-patreon-sha": {
            "$ref": "#/components/headers/x-patreon-sha"
          },
          "x-patreon-uuid": {
            "$ref": "#/components/headers/x-patreon-uuid"
          },
          "cf-cache-status": {
            "$ref": "#/components/headers/cf-cache-status"
          },
          "cf-ray": {
            "$ref": "#/components/headers/cf-ray"
          }
        }
      },
      "postResponse": {
        "description": "OK: Completed your request succesfully",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "required": [
                "data",
                "meta"
              ],
              "properties": {
                "data": {
                  "required": [
                    "id",
                    "type"
                  ],
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string",
                      "enum": [
                        "post"
                      ]
                    },
                    "attributes": {
                      "$ref": "#/components/schemas/post"
                    },
                    "relationships": {
                      "properties": {
                        "user": {
                          "required": [
                            "data"
                          ],
                          "properties": {
                            "data": {
                              "properties": {
                                "id": {
                                  "type": "string"
                                },
                                "type": {
                                  "type": "string",
                                  "enum": [
                                    "user"
                                  ]
                                }
                              },
                              "required": [
                                "id",
                                "type"
                              ]
                            },
                            "links": {
                              "properties": {
                                "related": {
                                  "type": "string",
                                  "format": "uri"
                                }
                              }
                            }
                          }
                        },
                        "campaign": {
                          "required": [
                            "data"
                          ],
                          "properties": {
                            "data": {
                              "properties": {
                                "id": {
                                  "type": "string"
                                },
                                "type": {
                                  "type": "string",
                                  "enum": [
                                    "campaign"
                                  ]
                                }
                              },
                              "required": [
                                "id",
                                "type"
                              ]
                            },
                            "links": {
                              "properties": {
                                "related": {
                                  "type": "string",
                                  "format": "uri"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "included": {
                  "type": "array",
                  "items": {
                    "oneOf": [
                      {
                        "required": [
                          "attributes",
                          "type",
                          "id"
                        ],
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string",
                            "enum": [
                              "user"
                            ]
                          },
                          "attributes": {
                            "$ref": "#/components/schemas/user"
                          }
                        }
                      },
                      {
                        "required": [
                          "attributes",
                          "type",
                          "id"
                        ],
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string",
                            "enum": [
                              "campaign"
                            ]
                          },
                          "attributes": {
                            "$ref": "#/components/schemas/campaign"
                          }
                        }
                      }
                    ]
                  }
                },
                "links": {
                  "properties": {
                    "self": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "headers": {
          "x-patreon-sha": {
            "$ref": "#/components/headers/x-patreon-sha"
          },
          "x-patreon-uuid": {
            "$ref": "#/components/headers/x-patreon-uuid"
          },
          "cf-cache-status": {
            "$ref": "#/components/headers/cf-cache-status"
          },
          "cf-ray": {
            "$ref": "#/components/headers/cf-ray"
          }
        }
      },
      "webhookResponse": {
        "description": "OK: Completed your request succesfully",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "required": [
                "data",
                "meta"
              ],
              "properties": {
                "data": {
                  "required": [
                    "id",
                    "type"
                  ],
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string",
                      "enum": [
                        "webhook"
                      ]
                    },
                    "attributes": {
                      "$ref": "#/components/schemas/webhook"
                    },
                    "relationships": {
                      "properties": {
                        "campaign": {
                          "required": [
                            "data"
                          ],
                          "properties": {
                            "data": {
                              "properties": {
                                "id": {
                                  "type": "string"
                                },
                                "type": {
                                  "type": "string",
                                  "enum": [
                                    "campaign"
                                  ]
                                }
                              },
                              "required": [
                                "id",
                                "type"
                              ]
                            },
                            "links": {
                              "properties": {
                                "related": {
                                  "type": "string",
                                  "format": "uri"
                                }
                              }
                            }
                          }
                        },
                        "client": {
                          "required": [
                            "data"
                          ],
                          "properties": {
                            "data": {
                              "properties": {
                                "id": {
                                  "type": "string"
                                },
                                "type": {
                                  "type": "string",
                                  "enum": [
                                    "client"
                                  ]
                                }
                              },
                              "required": [
                                "id",
                                "type"
                              ]
                            },
                            "links": {
                              "properties": {
                                "related": {
                                  "type": "string",
                                  "format": "uri"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "included": {
                  "type": "array",
                  "items": {
                    "oneOf": [
                      {
                        "required": [
                          "attributes",
                          "type",
                          "id"
                        ],
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string",
                            "enum": [
                              "campaign"
                            ]
                          },
                          "attributes": {
                            "$ref": "#/components/schemas/campaign"
                          }
                        }
                      },
                      {
                        "required": [
                          "attributes",
                          "type",
                          "id"
                        ],
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string",
                            "enum": [
                              "client"
                            ]
                          },
                          "attributes": {
                            "$ref": "#/components/schemas/client"
                          }
                        }
                      }
                    ]
                  }
                },
                "links": {
                  "properties": {
                    "self": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "headers": {
          "x-patreon-sha": {
            "$ref": "#/components/headers/x-patreon-sha"
          },
          "x-patreon-uuid": {
            "$ref": "#/components/headers/x-patreon-uuid"
          },
          "cf-cache-status": {
            "$ref": "#/components/headers/cf-cache-status"
          },
          "cf-ray": {
            "$ref": "#/components/headers/cf-ray"
          }
        }
      },
      "webhooksResponse": {
        "description": "OK: Completed your request succesfully",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "required": [
                "data",
                "links"
              ],
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "required": [
                      "id",
                      "type"
                    ],
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "type": {
                        "type": "string",
                        "enum": [
                          "webhook"
                        ]
                      },
                      "attributes": {
                        "$ref": "#/components/schemas/webhook"
                      },
                      "relationships": {
                        "properties": {
                          "campaign": {
                            "required": [
                              "data"
                            ],
                            "properties": {
                              "data": {
                                "properties": {
                                  "id": {
                                    "type": "string"
                                  },
                                  "type": {
                                    "type": "string",
                                    "enum": [
                                      "campaign"
                                    ]
                                  }
                                },
                                "required": [
                                  "id",
                                  "type"
                                ]
                              },
                              "links": {
                                "properties": {
                                  "related": {
                                    "type": "string",
                                    "format": "uri"
                                  }
                                }
                              }
                            }
                          },
                          "client": {
                            "required": [
                              "data"
                            ],
                            "properties": {
                              "data": {
                                "properties": {
                                  "id": {
                                    "type": "string"
                                  },
                                  "type": {
                                    "type": "string",
                                    "enum": [
                                      "client"
                                    ]
                                  }
                                },
                                "required": [
                                  "id",
                                  "type"
                                ]
                              },
                              "links": {
                                "properties": {
                                  "related": {
                                    "type": "string",
                                    "format": "uri"
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "included": {
                  "type": "array",
                  "items": {
                    "oneOf": [
                      {
                        "required": [
                          "attributes",
                          "type",
                          "id"
                        ],
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string",
                            "enum": [
                              "campaign"
                            ]
                          },
                          "attributes": {
                            "$ref": "#/components/schemas/campaign"
                          }
                        }
                      },
                      {
                        "required": [
                          "attributes",
                          "type",
                          "id"
                        ],
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string",
                            "enum": [
                              "client"
                            ]
                          },
                          "attributes": {
                            "$ref": "#/components/schemas/client"
                          }
                        }
                      }
                    ]
                  }
                },
                "meta": {
                  "properties": {
                    "total": {
                      "type": "number"
                    },
                    "pagination": {
                      "properties": {
                        "cursors": {
                          "properties": {
                            "next": {
                              "type": [
                                "string",
                                "null"
                              ]
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "headers": {
          "x-patreon-sha": {
            "$ref": "#/components/headers/x-patreon-sha"
          },
          "x-patreon-uuid": {
            "$ref": "#/components/headers/x-patreon-uuid"
          },
          "cf-cache-status": {
            "$ref": "#/components/headers/cf-cache-status"
          },
          "cf-ray": {
            "$ref": "#/components/headers/cf-ray"
          }
        }
      }
    },
    "securitySchemes": {
      "auth": {
        "type": "oauth2",
        "flows": {
          "authorizationCode": {
            "tokenUrl": "https://patreon.com/api/oauth2/token",
            "authorizationUrl": "https://patreon.com/oauth2/authorize",
            "scopes": {
              "identity": "Provides read access to data about the user.\nSee the /identity endpoint documentation for details about what data is available.",
              "identity[email]": "Provides read access to the user’s email.",
              "identity.memberships": "Provides read access to the user’s memberships.",
              "campaigns": "Provides read access to basic campaign data.\nSee the /campaign endpoint documentation for details about what data is available.",
              "campaigns.members": "Provides read access to data about a campaign’s members.\nSee the /members endpoint documentation for details about what data is available.\nAlso allows the same information to be sent via webhooks created by your client.",
              "campaigns.members[email]": "Provides read access to the member’s email.\nAlso allows the same information to be sent via webhooks created by your client.",
              "campaigns.members.address": "Provides read access to the member’s address, if an address was collected in the pledge flow.\nAlso allows the same information to be sent via webhooks created by your client.",
              "campaigns.posts": "Provides read access to the posts on a campaign.",
              "w:campaigns.webhook": "Provides read, write, update, and delete access to the campaign’s webhooks created by the client."
            }
          }
        }
      }
    },
    "schemas": {
      "address": {
        "type": "object",
        "title": "Address",
        "description": "A patron's shipping address.",
        "externalDocs": {
          "description": "Official documentation for the Address resource",
          "url": "https://docs.patreon.com/#address"
        },
        "properties": {
          "addressee": {
            "type": [
              "string",
              "null"
            ],
            "description": "Full recipient name"
          },
          "city": {
            "type": "string",
            "description": ""
          },
          "country": {
            "type": "string",
            "description": ""
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Datetime address was first created"
          },
          "line_1": {
            "type": [
              "string",
              "null"
            ],
            "description": "First line of street address"
          },
          "line_2": {
            "type": [
              "string",
              "null"
            ],
            "description": "Second line of street address"
          },
          "phone_number": {
            "type": [
              "string",
              "null"
            ],
            "description": "Telephone number. Specified for non-US addresses"
          },
          "postal_code": {
            "type": [
              "string",
              "null"
            ],
            "description": "Postal or zip code"
          },
          "state": {
            "type": [
              "string",
              "null"
            ],
            "description": "State or province name"
          }
        }
      },
      "benefit": {
        "type": "object",
        "title": "Benefit",
        "description": "A benefit added to the campaign, which can be added to a tier to be delivered to the patron.",
        "externalDocs": {
          "description": "Official documentation for the Benefit resource",
          "url": "https://docs.patreon.com/#benefit"
        },
        "properties": {
          "app_external_id": {
            "type": [
              "string",
              "null"
            ],
            "description": "The third-party external ID this reward is associated with"
          },
          "app_meta": {
            "type": [
              "object",
              "null"
            ],
            "description": "Any metadata the third-party app included with this benefit on creation"
          },
          "benefit_type": {
            "type": [
              "string",
              "null"
            ],
            "description": "Type of benefit, such as `custom` for creator-defined benefits"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Datetime this benefit was created"
          },
          "deliverables_due_today_count": {
            "type": "number",
            "description": "Number of deliverables for this benefit that are due today specifically"
          },
          "delivered_deliverables_count": {
            "type": "number",
            "description": "Number of deliverables for this benefit that have been marked complete"
          },
          "description": {
            "type": [
              "string",
              "null"
            ],
            "description": "Display description"
          },
          "is_deleted": {
            "type": "boolean",
            "description": "Whether this benefit has been deleted"
          },
          "is_ended": {
            "type": "boolean",
            "description": "Whether this benefit is no longer available to new patrons"
          },
          "is_published": {
            "type": "boolean",
            "description": "Whether this benefit is ready to be fulfilled to patrons"
          },
          "next_deliverable_due_date": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "The next due date (after EOD today) for this benefit"
          },
          "not_delivered_deliverables_count": {
            "type": "number",
            "description": "Number of deliverables for this benefit that are due, for all dates"
          },
          "rule_type": {
            "type": [
              "string",
              "null"
            ],
            "description": "A rule type designation, such as `eom_monthly` or `one_time_immediate`"
          },
          "tiers_count": {
            "type": "number",
            "description": "Number of tiers containing this benefit"
          },
          "title": {
            "type": "string",
            "description": "Display title"
          }
        }
      },
      "campaign": {
        "type": "object",
        "title": "Campaign",
        "description": "The creator's page, and the top-level object for accessing lists of members, tiers, etc",
        "externalDocs": {
          "description": "Official documentation for the Campaign resource",
          "url": "https://docs.patreon.com/#campaign-v2"
        },
        "properties": {
          "vanity": {
            "type": [
              "string",
              "null"
            ],
            "description": "The campaign's vanity name"
          },
          "url": {
            "type": "string",
            "format": "uri",
            "description": "The url to visit this campaign"
          },
          "thanks_video_url": {
            "type": [
              "string",
              "null"
            ],
            "format": "uri",
            "description": "The URL of the video that is shown to patrons after pledging"
          },
          "thanks_msg": {
            "type": [
              "string",
              "null"
            ],
            "description": "The message that is shown to patrons after pledging"
          },
          "thanks_embed": {
            "type": [
              "string",
              "null"
            ],
            "description": "The embed that is shown to patrons after pledging"
          },
          "summary": {
            "type": [
              "string",
              "null"
            ],
            "description": "The summary of this campaign.\nCan be viewed in the About section of the campaign"
          },
          "show_earnings": {
            "type": "boolean",
            "description": "Whether the campaign's total earnings are shown publicly"
          },
          "rss_feed_title": {
            "type": [
              "string",
              "null"
            ],
            "description": "The title of the campaigns rss feed"
          },
          "rss_artwork_url": {
            "type": [
              "string",
              "null"
            ],
            "format": "uri",
            "description": "The url for the rss album artwork"
          },
          "published_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "Datetime that the creator most recently published (made publicly visible) the campaign.\nNull when the campaign has not been public."
          },
          "pledge_url": {
            "type": "string",
            "description": "Relative (to patreon.com) URL for the pledge checkout flow for this campaign"
          },
          "pay_per_name": {
            "type": [
              "string",
              "null"
            ],
            "description": "The thing which patrons are paying per, as in \"{@link Campaign.vanity} is making $1000 per {@link Campaign.pay_per_name}\""
          },
          "patron_count": {
            "type": "number",
            "description": "Number of patrons pledging to this creator"
          },
          "one_liner": {
            "type": [
              "string",
              "null"
            ],
            "description": "Pithy one-liner for this campaign, displayed on the creator page"
          },
          "main_video_url": {
            "type": [
              "string",
              "null"
            ],
            "format": "uri",
            "description": ""
          },
          "main_video_embed": {
            "type": [
              "string",
              "null"
            ],
            "description": ""
          },
          "is_nsfw": {
            "type": "boolean",
            "description": "Whether the creator has marked the campaign as containing nsfw content"
          },
          "is_monthly": {
            "type": "boolean",
            "description": "Whether the campaign charges per month"
          },
          "is_charged_immediately": {
            "type": "boolean",
            "description": "Whether the campaign charges upfront"
          },
          "image_url": {
            "type": "string",
            "format": "uri",
            "description": "Banner image URL for the campaign"
          },
          "image_small_url": {
            "type": "string",
            "format": "uri",
            "description": "Profile image URL for the campaign"
          },
          "has_sent_rss_notify": {
            "type": "boolean",
            "description": "Whether the creator has sent a one-time rss notification email"
          },
          "has_rss": {
            "type": "boolean",
            "description": "Whether this user has opted-in to rss feeds"
          },
          "google_analytics_id": {
            "type": [
              "string",
              "null"
            ],
            "description": "The ID of the Google Analytics tracker that the creator wants metrics to be sent to"
          },
          "discord_server_id": {
            "type": [
              "string",
              "null"
            ],
            "description": "The ID of the external discord server that is linked to this campaign"
          },
          "creation_name": {
            "type": [
              "string",
              "null"
            ],
            "description": "The type of content the creator is creating, as in \"{@link Campaign.vanity} is creating {@link Campaign.creation_name}\""
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Datetime that the creator first began the campaign creation process"
          }
        }
      },
      "client": {
        "type": "object",
        "title": "OauthClient",
        "description": "A client created by a developer, used for getting OAuth2 access tokens.",
        "externalDocs": {
          "description": "Official documentation for the OauthClient resource",
          "url": "https://docs.patreon.com/#oauthclient"
        },
        "properties": {
          "author_name": {
            "type": [
              "string",
              "null"
            ],
            "description": "The author name provided during client setup."
          },
          "client_secret": {
            "type": "string",
            "description": "The client's secret."
          },
          "default_scopes": {
            "type": "string",
            "description": "The client's default OAuth scopes for the authorization flow."
          },
          "description": {
            "type": "string",
            "description": "The description provided during client setup."
          },
          "domain": {
            "type": [
              "string",
              "null"
            ],
            "format": "uri",
            "description": "The domain provided during client setup."
          },
          "icon_url": {
            "type": [
              "string",
              "null"
            ],
            "format": "uri",
            "description": "The URL of the icon used in the OAuth authorization flow."
          },
          "name": {
            "type": "string",
            "description": "The name provided during client setup."
          },
          "privacy_policy_url": {
            "type": [
              "string",
              "null"
            ],
            "format": "uri",
            "description": "The URL of the privacy policy provided during client setup."
          },
          "redirect_uris": {
            "type": "string",
            "description": "The allowable redirect URIs for the OAuth authorization flow."
          },
          "tos_url": {
            "type": "string",
            "format": "uri",
            "description": "The URL of the terms of service provided during client setup."
          },
          "version": {
            "type": "number",
            "description": "The Patreon API version the client is targeting.",
            "examples": [
              2
            ]
          }
        }
      },
      "deliverable": {
        "type": "object",
        "title": "Deliverable",
        "description": "The record of whether or not a patron has been delivered the benefit they are owed because of their member tier.",
        "externalDocs": {
          "description": "Official documentation for the Deliverable resource",
          "url": "https://docs.patreon.com/#deliverable"
        },
        "properties": {
          "completed_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "When the creator marked the deliverable as completed or fulfilled to the patron"
          },
          "delivery_status": {
            "type": "string",
            "enum": [
              "delivered",
              "not_delivered",
              "wont_deliver"
            ],
            "description": ""
          },
          "due_at": {
            "type": "string",
            "format": "date-time",
            "description": "When the deliverable is due to the patron"
          }
        }
      },
      "goal": {
[...]
