{
  "openapi": "3.1.0",
  "info": {
    "title": "Patreon API",
    "version": "2",
    "description": "An unofficial OpenAPI schema for the V2 Patreon API. Made based on the official api with https://github.com/ghostrider-05/patreon-api.ts",
    "termsOfService": "https://patreon.com/legal",
    "contact": {
      "name": "Patreon",
      "url": "https://www.patreondevelopers.com/"
    }
  },
  "externalDocs": {
    "description": "Official Patreon documentation",
    "url": "https://docs.patreon.com"
  },
  "servers": [
    {
      "description": "API domain",
      "url": "https://patreon.com"
    }
  ],
  "tags": [
    {
      "name": "resource",
      "externalDocs": {
        "description": "Resource endpoints documentation",
        "url": "https://docs.patreon.com/#apiv2-resource-endpoints"
      }
    },
    {
      "name": "webhook",
      "externalDocs": {
        "description": "Webhook endpoints documentation",
        "url": "https://docs.patreon.com/#apiv2-webhook-endpoints"
      }
    }
  ],
  "components": {
    "headers": {
      "x-patreon-uuid": {
        "schema": {
          "type": "string"
        }
      },
      "x-patreon-sha": {
        "schema": {
          "type": "string"
        }
      },
      "cf-cache-status": {
        "schema": {
          "type": "string"
        }
      },
      "cf-ray": {
        "schema": {
          "type": "string"
        }
      },
      "X-Patreon-Event": {
        "schema": {
          "type": "string"
        }
      },
      "X-Patreon-Signature": {
        "schema": {
          "type": "string"
        }
      }
    },
    "parameters": {
      "id": {
        "name": "id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "campaign_id": {
        "name": "campaign_id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "userAgent": {
        "name": "User-Agent",
        "in": "header",
        "required": true,
        "schema": {
          "type": "string",
          "default": "PatreonBot patreon-api.ts (https://github.com/ghostrider-05/patreon-api.ts, 0.8.0)"
        }
      }
    },
    "responses": {
      "200": {
        "description": "OK"
      },
      "400": {
        "description": "Something was wrong with your request (syntax, size too large, etc.)",
        "content": {
          "application/json": {
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/APIError"
              }
            }
          }
        }
      },
      "401": {
        "description": "Authentication failed (bad API key, invalid OAuth token, incorrect scopes, etc.)"
      },
      "campaignResponse": {
        "description": "OK",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "required": [
                "data",
                "meta"
              ],
              "properties": {
                "data": {
                  "required": [
                    "id",
                    "type"
                  ],
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string",
                      "enum": [
                        "campaign"
                      ]
                    },
                    "attributes": {
                      "$ref": "#/components/schemas/campaign"
                    },
                    "relationships": {
                      "properties": {
                        "benefits": {
                          "required": [
                            "data"
                          ],
                          "properties": {
                            "data": {
                              "type": "array",
                              "items": {
                                "properties": {
                                  "id": {
                                    "type": "string"
                                  },
                                  "type": {
                                    "type": "string",
                                    "enum": [
                                      "benefit"
                                    ]
                                  }
                                },
                                "required": [
                                  "id",
                                  "type"
                                ]
                              }
                            }
                          }
                        },
                        "creator": {
                          "required": [
                            "data"
                          ],
                          "properties": {
                            "data": {
                              "properties": {
                                "id": {
                                  "type": "string"
                                },
                                "type": {
                                  "type": "string",
                                  "enum": [
                                    "user"
                                  ]
                                }
                              },
                              "required": [
                                "id",
                                "type"
                              ]
                            },
                            "links": {
                              "properties": {
                                "related": {
                                  "type": "string",
                                  "format": "uri"
                                }
                              }
                            }
                          }
                        },
                        "goals": {
                          "required": [
                            "data"
                          ],
                          "properties": {
                            "data": {
                              "type": "array",
                              "items": {
                                "properties": {
                                  "id": {
                                    "type": "string"
                                  },
                                  "type": {
                                    "type": "string",
                                    "enum": [
                                      "goal"
                                    ]
                                  }
                                },
                                "required": [
                                  "id",
                                  "type"
                                ]
                              }
                            }
                          }
                        },
                        "tiers": {
                          "required": [
                            "data"
                          ],
                          "properties": {
                            "data": {
                              "type": "array",
                              "items": {
                                "properties": {
                                  "id": {
                                    "type": "string"
                                  },
                                  "type": {
                                    "type": "string",
                                    "enum": [
                                      "tier"
                                    ]
                                  }
                                },
                                "required": [
                                  "id",
                                  "type"
                                ]
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "included": {
                  "type": "array",
                  "items": {
                    "oneOf": [
                      {
                        "required": [
                          "attributes",
                          "type",
                          "id"
                        ],
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string",
                            "enum": [
                              "benefit"
                            ]
                          },
                          "attributes": {
                            "$ref": "#/components/schemas/benefit"
                          }
                        }
                      },
                      {
                        "required": [
                          "attributes",
                          "type",
                          "id"
                        ],
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string",
                            "enum": [
                              "user"
                            ]
                          },
                          "attributes": {
                            "$ref": "#/components/schemas/user"
                          }
                        }
                      },
                      {
                        "required": [
                          "attributes",
                          "type",
                          "id"
                        ],
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string",
                            "enum": [
                              "goal"
                            ]
                          },
                          "attributes": {
                            "$ref": "#/components/schemas/goal"
                          }
                        }
                      },
                      {
                        "required": [
                          "attributes",
                          "type",
                          "id"
                        ],
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string",
                            "enum": [
                              "tier"
                            ]
                          },
                          "attributes": {
                            "$ref": "#/components/schemas/tier"
                          }
                        }
                      }
                    ]
                  }
                },
                "links": {
                  "properties": {
                    "self": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "campaignsResponse": {
        "description": "OK",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "required": [
                "data",
                "links"
              ],
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "required": [
                      "id",
                      "type"
                    ],
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "type": {
                        "type": "string",
                        "enum": [
                          "campaign"
                        ]
                      },
                      "attributes": {
                        "$ref": "#/components/schemas/campaign"
                      },
                      "relationships": {
                        "properties": {
                          "benefits": {
                            "required": [
                              "data"
                            ],
                            "properties": {
                              "data": {
                                "type": "array",
                                "items": {
                                  "properties": {
                                    "id": {
                                      "type": "string"
                                    },
                                    "type": {
                                      "type": "string",
                                      "enum": [
                                        "benefit"
                                      ]
                                    }
                                  },
                                  "required": [
                                    "id",
                                    "type"
                                  ]
                                }
                              }
                            }
                          },
                          "creator": {
                            "required": [
                              "data"
                            ],
                            "properties": {
                              "data": {
                                "properties": {
                                  "id": {
                                    "type": "string"
                                  },
                                  "type": {
                                    "type": "string",
                                    "enum": [
                                      "user"
                                    ]
                                  }
                                },
                                "required": [
                                  "id",
                                  "type"
                                ]
                              },
                              "links": {
                                "properties": {
                                  "related": {
                                    "type": "string",
                                    "format": "uri"
                                  }
                                }
                              }
                            }
                          },
                          "goals": {
                            "required": [
                              "data"
                            ],
                            "properties": {
                              "data": {
                                "type": "array",
                                "items": {
                                  "properties": {
                                    "id": {
                                      "type": "string"
                                    },
                                    "type": {
                                      "type": "string",
                                      "enum": [
                                        "goal"
                                      ]
                                    }
                                  },
                                  "required": [
                                    "id",
                                    "type"
                                  ]
                                }
                              }
                            }
                          },
                          "tiers": {
                            "required": [
                              "data"
                            ],
                            "properties": {
                              "data": {
                                "type": "array",
                                "items": {
                                  "properties": {
                                    "id": {
                                      "type": "string"
                                    },
                                    "type": {
                                      "type": "string",
                                      "enum": [
                                        "tier"
                                      ]
                                    }
                                  },
                                  "required": [
                                    "id",
                                    "type"
                                  ]
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "included": {
                  "type": "array",
                  "items": {
                    "oneOf": [
                      {
                        "required": [
                          "attributes",
                          "type",
                          "id"
                        ],
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string",
                            "enum": [
                              "benefit"
                            ]
                          },
                          "attributes": {
                            "$ref": "#/components/schemas/benefit"
                          }
                        }
                      },
                      {
                        "required": [
                          "attributes",
                          "type",
                          "id"
                        ],
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string",
                            "enum": [
                              "user"
                            ]
                          },
                          "attributes": {
                            "$ref": "#/components/schemas/user"
                          }
                        }
                      },
                      {
                        "required": [
                          "attributes",
                          "type",
                          "id"
                        ],
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string",
                            "enum": [
                              "goal"
                            ]
                          },
                          "attributes": {
                            "$ref": "#/components/schemas/goal"
                          }
                        }
                      },
                      {
                        "required": [
                          "attributes",
                          "type",
                          "id"
                        ],
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string",
                            "enum": [
                              "tier"
                            ]
                          },
                          "attributes": {
                            "$ref": "#/components/schemas/tier"
                          }
                        }
                      }
                    ]
                  }
                },
                "meta": {
                  "properties": {
                    "total": {
                      "type": "number"
                    },
                    "pagination": {
                      "properties": {
                        "cursors": {
                          "properties": {
                            "next": {
                              "type": [
                                "string",
                                "null"
                              ]
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "userResponse": {
        "description": "OK",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "required": [
                "data",
                "meta"
              ],
              "properties": {
                "data": {
                  "required": [
                    "id",
                    "type"
                  ],
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string",
                      "enum": [
                        "user"
                      ]
                    },
                    "attributes": {
                      "$ref": "#/components/schemas/user"
                    },
                    "relationships": {
                      "properties": {
                        "campaign": {
                          "required": [
                            "data"
                          ],
                          "properties": {
                            "data": {
                              "properties": {
                                "id": {
                                  "type": "string"
                                },
                                "type": {
                                  "type": "string",
                                  "enum": [
                                    "campaign"
                                  ]
                                }
                              },
                              "required": [
                                "id",
                                "type"
                              ]
                            },
                            "links": {
                              "properties": {
                                "related": {
                                  "type": "string",
                                  "format": "uri"
                                }
                              }
                            }
                          }
                        },
                        "memberships": {
                          "required": [
                            "data"
                          ],
                          "properties": {
                            "data": {
                              "type": "array",
                              "items": {
                                "properties": {
                                  "id": {
                                    "type": "string"
                                  },
                                  "type": {
                                    "type": "string",
                                    "enum": [
                                      "member"
                                    ]
                                  }
                                },
                                "required": [
                                  "id",
                                  "type"
                                ]
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "included": {
                  "type": "array",
                  "items": {
                    "oneOf": [
                      {
                        "required": [
                          "attributes",
                          "type",
                          "id"
                        ],
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string",
                            "enum": [
                              "campaign"
                            ]
                          },
                          "attributes": {
                            "$ref": "#/components/schemas/campaign"
                          }
                        }
                      },
                      {
                        "required": [
                          "attributes",
                          "type",
                          "id"
                        ],
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string",
                            "enum": [
                              "member"
                            ]
                          },
                          "attributes": {
                            "$ref": "#/components/schemas/member"
                          }
                        }
                      }
                    ]
                  }
                },
                "links": {
                  "properties": {
                    "self": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "membersResponse": {
        "description": "OK",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "required": [
                "data",
                "links"
              ],
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "required": [
                      "id",
                      "type"
                    ],
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "type": {
                        "type": "string",
                        "enum": [
                          "member"
                        ]
                      },
                      "attributes": {
                        "$ref": "#/components/schemas/member"
                      },
                      "relationships": {
                        "properties": {
                          "address": {
                            "required": [
                              "data"
                            ],
                            "properties": {
                              "data": {
                                "properties": {
                                  "id": {
                                    "type": "string"
                                  },
                                  "type": {
                                    "type": "string",
                                    "enum": [
                                      "address"
                                    ]
                                  }
                                },
                                "required": [
                                  "id",
                                  "type"
                                ]
                              },
                              "links": {
                                "properties": {
                                  "related": {
                                    "type": "string",
                                    "format": "uri"
                                  }
                                }
                              }
                            }
                          },
                          "campaign": {
                            "required": [
                              "data"
                            ],
                            "properties": {
                              "data": {
                                "properties": {
                                  "id": {
                                    "type": "string"
                                  },
                                  "type": {
                                    "type": "string",
                                    "enum": [
                                      "campaign"
                                    ]
                                  }
                                },
                                "required": [
                                  "id",
                                  "type"
                                ]
                              },
                              "links": {
                                "properties": {
                                  "related": {
                                    "type": "string",
                                    "format": "uri"
                                  }
                                }
                              }
                            }
                          },
                          "currently_entitled_tiers": {
                            "required": [
                              "data"
                            ],
                            "properties": {
                              "data": {
                                "type": "array",
                                "items": {
                                  "properties": {
                                    "id": {
                                      "type": "string"
                                    },
                                    "type": {
                                      "type": "string",
                                      "enum": [
                                        "tier"
                                      ]
                                    }
                                  },
                                  "required": [
                                    "id",
                                    "type"
                                  ]
                                }
                              }
                            }
                          },
                          "pledge_history": {
                            "required": [
                              "data"
                            ],
                            "properties": {
                              "data": {
                                "type": "array",
                                "items": {
                                  "properties": {
                                    "id": {
                                      "type": "string"
                                    },
                                    "type": {
                                      "type": "string",
                                      "enum": [
                                        "pledge-event"
                                      ]
                                    }
                                  },
                                  "required": [
                                    "id",
                                    "type"
                                  ]
                                }
                              }
                            }
                          },
                          "user": {
                            "required": [
                              "data"
                            ],
                            "properties": {
                              "data": {
                                "properties": {
                                  "id": {
                                    "type": "string"
                                  },
                                  "type": {
                                    "type": "string",
                                    "enum": [
                                      "user"
                                    ]
                                  }
                                },
                                "required": [
                                  "id",
                                  "type"
                                ]
                              },
                              "links": {
                                "properties": {
                                  "related": {
                                    "type": "string",
                                    "format": "uri"
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "included": {
                  "type": "array",
                  "items": {
                    "oneOf": [
                      {
                        "required": [
                          "attributes",
                          "type",
                          "id"
                        ],
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string",
                            "enum": [
                              "address"
                            ]
                          },
                          "attributes": {
                            "$ref": "#/components/schemas/address"
                          }
                        }
                      },
                      {
                        "required": [
                          "attributes",
                          "type",
                          "id"
                        ],
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string",
                            "enum": [
                              "campaign"
                            ]
                          },
                          "attributes": {
                            "$ref": "#/components/schemas/campaign"
                          }
                        }
                      },
                      {
                        "required": [
                          "attributes",
                          "type",
                          "id"
                        ],
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string",
                            "enum": [
                              "tier"
                            ]
                          },
                          "attributes": {
                            "$ref": "#/components/schemas/tier"
                          }
                        }
                      },
                      {
                        "required": [
                          "attributes",
                          "type",
                          "id"
                        ],
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string",
                            "enum": [
                              "pledge-event"
                            ]
                          },
                          "attributes": {
                            "$ref": "#/components/schemas/pledge-event"
                          }
                        }
                      },
                      {
                        "required": [
                          "attributes",
                          "type",
                          "id"
                        ],
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string",
                            "enum": [
                              "user"
                            ]
                          },
                          "attributes": {
                            "$ref": "#/components/schemas/user"
                          }
                        }
                      }
                    ]
                  }
                },
                "meta": {
                  "properties": {
                    "total": {
                      "type": "number"
                    },
                    "pagination": {
                      "properties": {
                        "cursors": {
                          "properties": {
                            "next": {
                              "type": [
                                "string",
                                "null"
                              ]
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "memberResponse": {
        "description": "OK",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "required": [
                "data",
                "meta"
              ],
              "properties": {
                "data": {
                  "required": [
                    "id",
                    "type"
                  ],
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string",
                      "enum": [
                        "member"
                      ]
                    },
                    "attributes": {
                      "$ref": "#/components/schemas/member"
                    },
                    "relationships": {
                      "properties": {
                        "address": {
                          "required": [
                            "data"
                          ],
                          "properties": {
                            "data": {
                              "properties": {
                                "id": {
                                  "type": "string"
                                },
                                "type": {
                                  "type": "string",
                                  "enum": [
                                    "address"
                                  ]
                                }
                              },
                              "required": [
                                "id",
                                "type"
                              ]
                            },
                            "links": {
                              "properties": {
                                "related": {
                                  "type": "string",
                                  "format": "uri"
                                }
                              }
                            }
                          }
                        },
                        "campaign": {
                          "required": [
                            "data"
                          ],
                          "properties": {
                            "data": {
                              "properties": {
                                "id": {
                                  "type": "string"
                                },
                                "type": {
                                  "type": "string",
                                  "enum": [
                                    "campaign"
                                  ]
                                }
                              },
                              "required": [
                                "id",
                                "type"
                              ]
                            },
                            "links": {
                              "properties": {
                                "related": {
                                  "type": "string",
                                  "format": "uri"
                                }
                              }
                            }
                          }
                        },
                        "currently_entitled_tiers": {
                          "required": [
                            "data"
                          ],
                          "properties": {
                            "data": {
                              "type": "array",
                              "items": {
                                "properties": {
                                  "id": {
                                    "type": "string"
                                  },
                                  "type": {
                                    "type": "string",
                                    "enum": [
                                      "tier"
                                    ]
                                  }
                                },
                                "required": [
                                  "id",
                                  "type"
                                ]
                              }
                            }
                          }
                        },
                        "pledge_history": {
                          "required": [
                            "data"
                          ],
                          "properties": {
                            "data": {
                              "type": "array",
                              "items": {
                                "properties": {
                                  "id": {
                                    "type": "string"
                                  },
                                  "type": {
                                    "type": "string",
                                    "enum": [
                                      "pledge-event"
                                    ]
                                  }
                                },
                                "required": [
                                  "id",
                                  "type"
                                ]
                              }
                            }
                          }
                        },
                        "user": {
                          "required": [
                            "data"
                          ],
                          "properties": {
                            "data": {
                              "properties": {
                                "id": {
                                  "type": "string"
                                },
                                "type": {
                                  "type": "string",
                                  "enum": [
                                    "user"
                                  ]
                                }
                              },
                              "required": [
                                "id",
                                "type"
                              ]
                            },
                            "links": {
                              "properties": {
                                "related": {
                                  "type": "string",
                                  "format": "uri"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "included": {
                  "type": "array",
                  "items": {
                    "oneOf": [
                      {
                        "required": [
                          "attributes",
                          "type",
                          "id"
                        ],
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string",
                            "enum": [
                              "address"
                            ]
                          },
                          "attributes": {
                            "$ref": "#/components/schemas/address"
                          }
                        }
                      },
                      {
                        "required": [
                          "attributes",
                          "type",
                          "id"
                        ],
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string",
                            "enum": [
                              "campaign"
                            ]
                          },
                          "attributes": {
                            "$ref": "#/components/schemas/campaign"
                          }
                        }
                      },
                      {
                        "required": [
                          "attributes",
                          "type",
                          "id"
                        ],
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string",
                            "enum": [
                              "tier"
                            ]
                          },
                          "attributes": {
                            "$ref": "#/components/schemas/tier"
                          }
                        }
                      },
                      {
                        "required": [
                          "attributes",
                          "type",
                          "id"
                        ],
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string",
                            "enum": [
                              "pledge-event"
                            ]
                          },
                          "attributes": {
                            "$ref": "#/components/schemas/pledge-event"
                          }
                        }
                      },
                      {
                        "required": [
                          "attributes",
                          "type",
                          "id"
                        ],
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string",
                            "enum": [
                              "user"
                            ]
                          },
                          "attributes": {
                            "$ref": "#/components/schemas/user"
                          }
                        }
                      }
                    ]
                  }
                },
                "links": {
                  "properties": {
                    "self": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "postsResponse": {
        "description": "OK",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "required": [
                "data",
                "links"
              ],
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "required": [
                      "id",
                      "type"
                    ],
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "type": {
                        "type": "string",
                        "enum": [
                          "post"
                        ]
                      },
                      "attributes": {
                        "$ref": "#/components/schemas/post"
                      },
                      "relationships": {
                        "properties": {
                          "user": {
                            "required": [
                              "data"
                            ],
                            "properties": {
                              "data": {
                                "properties": {
                                  "id": {
                                    "type": "string"
                                  },
                                  "type": {
                                    "type": "string",
                                    "enum": [
                                      "user"
                                    ]
                                  }
                                },
                                "required": [
                                  "id",
                                  "type"
                                ]
                              },
                              "links": {
                                "properties": {
                                  "related": {
                                    "type": "string",
                                    "format": "uri"
                                  }
                                }
                              }
                            }
                          },
                          "campaign": {
                            "required": [
                              "data"
                            ],
                            "properties": {
                              "data": {
                                "properties": {
                                  "id": {
                                    "type": "string"
                                  },
                                  "type": {
                                    "type": "string",
                                    "enum": [
                                      "campaign"
                                    ]
                                  }
                                },
                                "required": [
                                  "id",
                                  "type"
                                ]
                              },
                              "links": {
                                "properties": {
                                  "related": {
                                    "type": "string",
                                    "format": "uri"
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "included": {
                  "type": "array",
                  "items": {
                    "oneOf": [
                      {
                        "required": [
                          "attributes",
                          "type",
                          "id"
                        ],
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string",
                            "enum": [
                              "user"
                            ]
                          },
                          "attributes": {
                            "$ref": "#/components/schemas/user"
                          }
                        }
                      },
                      {
                        "required": [
                          "attributes",
                          "type",
                          "id"
                        ],
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string",
                            "enum": [
                              "campaign"
                            ]
                          },
                          "attributes": {
                            "$ref": "#/components/schemas/campaign"
                          }
                        }
                      }
                    ]
                  }
                },
                "meta": {
                  "properties": {
                    "total": {
                      "type": "number"
                    },
                    "pagination": {
                      "properties": {
                        "cursors": {
                          "properties": {
                            "next": {
                              "type": [
                                "string",
                                "null"
                              ]
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "postResponse": {
        "description": "OK",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "required": [
                "data",
                "meta"
              ],
              "properties": {
                "data": {
                  "required": [
                    "id",
                    "type"
                  ],
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string",
                      "enum": [
                        "post"
                      ]
                    },
                    "attributes": {
                      "$ref": "#/components/schemas/post"
                    },
                    "relationships": {
                      "properties": {
                        "user": {
                          "required": [
                            "data"
                          ],
                          "properties": {
                            "data": {
                              "properties": {
                                "id": {
                                  "type": "string"
                                },
                                "type": {
                                  "type": "string",
                                  "enum": [
                                    "user"
                                  ]
                                }
                              },
                              "required": [
                                "id",
                                "type"
                              ]
                            },
                            "links": {
                              "properties": {
                                "related": {
                                  "type": "string",
                                  "format": "uri"
                                }
                              }
                            }
                          }
                        },
                        "campaign": {
                          "required": [
                            "data"
                          ],
                          "properties": {
                            "data": {
                              "properties": {
                                "id": {
                                  "type": "string"
                                },
                                "type": {
                                  "type": "string",
                                  "enum": [
                                    "campaign"
                                  ]
                                }
                              },
                              "required": [
                                "id",
                                "type"
                              ]
                            },
                            "links": {
                              "properties": {
                                "related": {
                                  "type": "string",
                                  "format": "uri"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "included": {
                  "type": "array",
                  "items": {
                    "oneOf": [
                      {
                        "required": [
                          "attributes",
                          "type",
                          "id"
                        ],
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string",
                            "enum": [
                              "user"
                            ]
                          },
                          "attributes": {
                            "$ref": "#/components/schemas/user"
                          }
                        }
                      },
                      {
                        "required": [
                          "attributes",
                          "type",
                          "id"
                        ],
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string",
                            "enum": [
                              "campaign"
                            ]
                          },
                          "attributes": {
                            "$ref": "#/components/schemas/campaign"
                          }
                        }
                      }
                    ]
                  }
                },
                "links": {
                  "properties": {
                    "self": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "webhookResponse": {
        "description": "OK",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "required": [
                "data",
                "meta"
              ],
              "properties": {
                "data": {
                  "required": [
                    "id",
                    "type"
                  ],
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string",
                      "enum": [
                        "webhook"
                      ]
                    },
                    "attributes": {
                      "$ref": "#/components/schemas/webhook"
                    },
                    "relationships": {
                      "properties": {
                        "campaign": {
                          "required": [
                            "data"
                          ],
                          "properties": {
                            "data": {
                              "properties": {
                                "id": {
                                  "type": "string"
                                },
                                "type": {
                                  "type": "string",
                                  "enum": [
                                    "campaign"
                                  ]
                                }
                              },
                              "required": [
                                "id",
                                "type"
                              ]
                            },
                            "links": {
                              "properties": {
                                "related": {
                                  "type": "string",
                                  "format": "uri"
                                }
                              }
                            }
                          }
                        },
                        "client": {
                          "required": [
                            "data"
                          ],
                          "properties": {
                            "data": {
                              "properties": {
                                "id": {
                                  "type": "string"
                                },
                                "type": {
                                  "type": "string",
                                  "enum": [
                                    "client"
                                  ]
                                }
                              },
                              "required": [
                                "id",
                                "type"
                              ]
                            },
                            "links": {
                              "properties": {
                                "related": {
                                  "type": "string",
                                  "format": "uri"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "included": {
                  "type": "array",
                  "items": {
                    "oneOf": [
                      {
                        "required": [
                          "attributes",
                          "type",
                          "id"
                        ],
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string",
                            "enum": [
                              "campaign"
                            ]
                          },
                          "attributes": {
                            "$ref": "#/components/schemas/campaign"
                          }
                        }
                      },
                      {
                        "required": [
                          "attributes",
                          "type",
                          "id"
                        ],
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string",
                            "enum": [
                              "client"
                            ]
                          },
                          "attributes": {
                            "$ref": "#/components/schemas/client"
                          }
                        }
                      }
                    ]
                  }
                },
                "links": {
                  "properties": {
                    "self": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "webhooksResponse": {
        "description": "OK",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "required": [
                "data",
                "links"
              ],
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "required": [
                      "id",
                      "type"
                    ],
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "type": {
                        "type": "string",
                        "enum": [
                          "webhook"
                        ]
                      },
                      "attributes": {
                        "$ref": "#/components/schemas/webhook"
                      },
                      "relationships": {
                        "properties": {
                          "campaign": {
                            "required": [
                              "data"
                            ],
                            "properties": {
                              "data": {
                                "properties": {
                                  "id": {
                                    "type": "string"
                                  },
                                  "type": {
                                    "type": "string",
                                    "enum": [
                                      "campaign"
                                    ]
                                  }
                                },
                                "required": [
                                  "id",
                                  "type"
                                ]
                              },
                              "links": {
                                "properties": {
                                  "related": {
                                    "type": "string",
                                    "format": "uri"
                                  }
                                }
                              }
                            }
                          },
                          "client": {
                            "required": [
                              "data"
                            ],
                            "properties": {
                              "data": {
                                "properties": {
                                  "id": {
                                    "type": "string"
                                  },
                                  "type": {
                                    "type": "string",
                                    "enum": [
                                      "client"
                                    ]
                                  }
                                },
                                "required": [
                                  "id",
                                  "type"
                                ]
                              },
                              "links": {
                                "properties": {
                                  "related": {
                                    "type": "string",
                                    "format": "uri"
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "included": {
                  "type": "array",
                  "items": {
                    "oneOf": [
                      {
                        "required": [
                          "attributes",
                          "type",
                          "id"
                        ],
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string",
                            "enum": [
                              "campaign"
                            ]
                          },
                          "attributes": {
                            "$ref": "#/components/schemas/campaign"
                          }
                        }
                      },
                      {
                        "required": [
                          "attributes",
                          "type",
                          "id"
                        ],
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string",
                            "enum": [
                              "client"
                            ]
                          },
                          "attributes": {
                            "$ref": "#/components/schemas/client"
                          }
                        }
                      }
                    ]
                  }
                },
                "meta": {
                  "properties": {
                    "total": {
                      "type": "number"
                    },
                    "pagination": {
                      "properties": {
                        "cursors": {
                          "properties": {
                            "next": {
                              "type": [
                                "string",
                                "null"
                              ]
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "auth": {
        "type": "oauth2",
        "flows": {
          "authorizationCode": {
            "tokenUrl": "https://patreon.com/api/oauth2/token",
            "authorizationUrl": "https://patreon.com/oauth2/authorize",
            "scopes": {
              "identity": "Provides read access to data about the user.\nSee the /identity endpoint documentation for details about what data is available.",
              "identity[email]": "Provides read access to the user’s email.",
              "identity.memberships": "Provides read access to the user’s memberships.",
              "campaigns": "Provides read access to basic campaign data.\nSee the /campaign endpoint documentation for details about what data is available.",
              "campaigns.members": "Provides read access to data about a campaign’s members.\nSee the /members endpoint documentation for details about what data is available.\nAlso allows the same information to be sent via webhooks created by your client.",
              "campaigns.members[email]": "Provides read access to the member’s email.\nAlso allows the same information to be sent via webhooks created by your client.",
              "campaigns.members.address": "Provides read access to the member’s address, if an address was collected in the pledge flow.\nAlso allows the same information to be sent via webhooks created by your client.",
              "campaigns.posts": "Provides read access to the posts on a campaign.",
              "w:campaigns.webhook": "Provides read, write, update, and delete access to the campaign’s webhooks created by the client."
            }
          }
        }
      }
    },
    "schemas": {
      "address": {
        "type": "object",
        "title": "Address",
        "description": "",
        "externalDocs": {
          "description": "Official documentation for the Address resource",
          "url": "https://docs.patreon.com/#address"
        },
        "properties": {
          "addressee": {
            "type": [
              "string",
              "null"
            ],
            "description": "Full recipient name"
          },
          "city": {
            "type": "string",
            "description": ""
          },
          "country": {
            "type": "string",
            "description": ""
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Datetime address was first created"
          },
          "line_1": {
            "type": [
              "string",
              "null"
            ],
            "description": "First line of street address"
          },
          "line_2": {
            "type": [
              "string",
              "null"
            ],
            "description": "Second line of street address"
          },
          "phone_number": {
            "type": [
              "string",
              "null"
            ],
            "description": "Telephone number. Specified for non-US addresses"
          },
          "postal_code": {
            "type": [
              "string",
              "null"
            ],
            "description": "Postal or zip code"
          },
          "state": {
            "type": [
              "string",
              "null"
            ],
            "description": "State or province name"
          }
        }
      },
      "benefit": {
        "type": "object",
        "title": "Benefit",
        "description": "",
        "externalDocs": {
          "description": "Official documentation for the Benefit resource",
          "url": "https://docs.patreon.com/#benefit"
        },
        "properties": {
          "app_external_id": {
            "type": [
              "string",
              "null"
            ],
            "description": "The third-party external ID this reward is associated with"
          },
          "app_meta": {
            "type": [
              "object",
              "null"
            ],
            "description": "Any metadata the third-party app included with this benefit on creation"
          },
          "benefit_type": {
            "type": [
              "string",
              "null"
            ],
            "description": "Type of benefit, such as `custom` for creator-defined benefits"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Datetime this benefit was created"
          },
          "deliverables_due_today_count": {
            "type": "number",
            "description": "Number of deliverables for this benefit that are due today specifically"
          },
          "delivered_deliverables_count": {
            "type": "number",
            "description": "Number of deliverables for this benefit that have been marked complete"
          },
          "description": {
            "type": [
              "string",
              "null"
            ],
            "description": "Display description"
          },
          "is_deleted": {
            "type": "boolean",
            "description": "Whether this benefit has been deleted"
          },
          "is_ended": {
            "type": "boolean",
            "description": "Whether this benefit is no longer available to new patrons"
          },
          "is_published": {
            "type": "boolean",
            "description": "Whether this benefit is ready to be fulfilled to patrons"
          },
          "next_deliverable_due_date": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "The next due date (after EOD today) for this benefit"
          },
          "not_delivered_deliverables_count": {
            "type": "number",
            "description": "Number of deliverables for this benefit that are due, for all dates"
          },
          "rule_type": {
            "type": [
              "string",
              "null"
            ],
            "description": "A rule type designation, such as `eom_monthly` or `one_time_immediate`"
          },
          "tiers_count": {
            "type": "number",
            "description": "Number of tiers containing this benefit"
          },
          "title": {
            "type": "string",
            "description": "Display title"
          }
        }
      },
      "campaign": {
        "type": "object",
        "title": "Campaign",
        "description": "The creator's page, and the top-level object for accessing lists of members, tiers, etc",
        "externalDocs": {
          "description": "Official documentation for the Campaign resource",
          "url": "https://docs.patreon.com/#campaign-v2"
        },
        "properties": {
          "vanity": {
            "type": [
              "string",
              "null"
            ],
            "description": "The campaign's vanity name"
          },
          "url": {
            "type": "string",
            "format": "uri",
            "description": "The url to visit this campaign"
          },
          "thanks_video_url": {
            "type": [
              "string",
              "null"
            ],
            "format": "uri",
            "description": "The URL of the video that is shown to patrons after pledging"
          },
          "thanks_msg": {
            "type": [
              "string",
              "null"
            ],
            "description": "The message that is shown to patrons after pledging"
          },
          "thanks_embed": {
            "type": [
              "string",
              "null"
            ],
            "description": "The embed that is shown to patrons after pledging"
          },
          "summary": {
            "type": [
              "string",
              "null"
            ],
            "description": "The summary of this campaign.\nCan be viewed in the About section of the campaign"
          },
          "show_earnings": {
            "type": "boolean",
            "description": "Whether the campaign's total earnings are shown publicly"
          },
          "rss_feed_title": {
            "type": [
              "string",
              "null"
            ],
            "description": "The title of the campaigns rss feed"
          },
          "rss_artwork_url": {
            "type": [
              "string",
              "null"
            ],
            "format": "uri",
            "description": "The url for the rss album artwork"
          },
          "published_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "Datetime that the creator most recently published (made publicly visible) the campaign.\nNull when the campaign has not been public."
          },
          "pledge_url": {
            "type": "string",
            "description": "Relative (to patreon.com) URL for the pledge checkout flow for this campaign"
          },
          "pay_per_name": {
            "type": [
              "string",
              "null"
            ],
            "description": "The thing which patrons are paying per, as in \"{@link Campaign.vanity} is making $1000 per {@link Campaign.pay_per_name}\""
          },
          "patron_count": {
            "type": "number",
            "description": "Number of patrons pledging to this creator"
          },
          "one_liner": {
            "type": [
              "string",
              "null"
            ],
            "description": "Pithy one-liner for this campaign, displayed on the creator page"
          },
          "main_video_url": {
            "type": [
              "string",
              "null"
            ],
            "format": "uri",
            "description": ""
          },
          "main_video_embed": {
            "type": [
              "string",
              "null"
            ],
            "description": ""
          },
          "is_nsfw": {
            "type": "boolean",
            "description": "Whether the creator has marked the campaign as containing nsfw content"
          },
          "is_monthly": {
            "type": "boolean",
            "description": "Whether the campaign charges per month"
          },
          "is_charged_immediately": {
            "type": "boolean",
            "description": "Whether the campaign charges upfront"
          },
          "image_url": {
            "type": "string",
            "format": "uri",
            "description": "Banner image URL for the campaign"
          },
          "image_small_url": {
            "type": "string",
            "format": "uri",
            "description": "Profile image URL for the campaign"
          },
          "has_sent_rss_notify": {
            "type": "boolean",
            "description": "Whether the creator has sent a one-time rss notification email"
          },
          "has_rss": {
            "type": "boolean",
            "description": "Whether this user has opted-in to rss feeds"
          },
          "google_analytics_id": {
            "type": [
              "string",
              "null"
            ],
            "description": "The ID of the Google Analytics tracker that the creator wants metrics to be sent to"
          },
          "discord_server_id": {
            "type": [
              "string",
              "null"
            ],
            "description": "The ID of the external discord server that is linked to this campaign"
          },
          "creation_name": {
            "type": [
              "string",
              "null"
            ],
            "description": "The type of content the creator is creating, as in \"{@link Campaign.vanity} is creating {@link Campaign.creation_name}\""
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Datetime that the creator first began the campaign creation process"
          }
        }
      },
      "client": {
        "type": "object",
        "title": "OauthClient",
        "description": "",
        "externalDocs": {
          "description": "Official documentation for the OauthClient resource",
          "url": "https://docs.patreon.com/#oauthclient"
        },
        "properties": {
          "author_name": {
            "type": [
              "string",
              "null"
            ],
            "description": "The author name provided during client setup."
          },
          "client_secret": {
            "type": "string",
            "description": "The client's secret."
          },
          "default_scopes": {
            "type": "string",
            "description": "The client's default OAuth scopes for the authorization flow."
          },
          "description": {
            "type": "string",
            "description": "The description provided during client setup."
          },
          "domain": {
            "type": [
              "string",
              "null"
            ],
            "description": "The domain provided during client setup."
          },
          "icon_url": {
            "type": [
              "string",
              "null"
            ],
            "format": "uri",
            "description": "The URL of the icon used in the OAuth authorization flow."
          },
          "name": {
            "type": "string",
            "description": "The name provided during client setup."
          },
          "privacy_policy_url": {
            "type": [
              "string",
              "null"
            ],
            "format": "uri",
            "description": "The URL of the privacy policy provided during client setup."
          },
          "redirect_uris": {
            "type": "string",
            "description": "The allowable redirect URIs for the OAuth authorization flow."
          },
          "tos_url": {
            "type": "string",
            "format": "uri",
            "description": "The URL of the terms of service provided during client setup."
          },
          "version": {
            "type": "number",
            "description": "The Patreon API version the client is targeting."
          }
        }
      },
      "deliverable": {
        "type": "object",
        "title": "Deliverable",
        "description": "",
        "externalDocs": {
          "description": "Official documentation for the Deliverable resource",
          "url": "https://docs.patreon.com/#deliverable"
        },
        "properties": {
          "completed_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "When the creator marked the deliverable as completed or fulfilled to the patron"
          },
          "delivery_status": {
            "type": "string",
            "enum": [
              "delivered",
              "not_delivered",
              "wont_deliver"
            ],
            "description": ""
          },
          "due_at": {
            "type": "string",
            "format": "date-time",
            "description": "When the deliverable is due to the patron"
          }
        }
      },
      "goal": {
        "type": "object",
        "title": "Goal",
        "description": "",
        "externalDocs": {
          "description": "Official documentation for the Goal resource",
          "url": "https://docs.patreon.com/#goal"
        },
        "properties": {}
      },
      "media": {
        "type": "object",
        "title": "Media",
        "description": "",
        "externalDocs": {
          "description": "Official documentation for the Media resource",
          "url": "https://docs.patreon.com/#media"
        },
        "properties": {
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "When the file was created"
          },
          "download_url": {
            "type": "string",
            "format": "uri",
            "description": "The URL to download this media. Valid for 24 hours."
          },
          "file_name": {
            "type": "string",
            "description": ""
          },
          "image_urls": {
            "type": "object",
            "description": "The resized image URLs for this media. Valid for 2 weeks."
          },
          "metadata": {
            "type": [
              "object",
              "null"
            ],
            "description": "Metadata related to the file"
          },
          "mimetype": {
            "type": "string",
            "description": "Mimetype of uploaded file, eg: \"application/jpeg\""
          },
          "owner_id": {
            "type": "string",
            "description": "Ownership id (See also {@link Media.owner_type})"
          },
          "owner_relationship": {
            "type": "string",
            "description": "Ownership relationship type for multi-relationship medias"
          },
          "owner_type": {
            "type": "string",
            "description": "Type of the resource that owns the file"
          },
          "size_bytes": {
            "type": "number",
            "description": ""
          },
          "state": {
            "type": "string",
            "description": ""
          },
          "upload_expires_at": {
            "type": "string",
            "format": "date-time",
            "description": "When the upload URL expires"
          },
          "upload_parameters": {
            "type": "object",
            "description": "All the parameters that have to be added to the upload form request"
          },
          "upload_url": {
            "type": "string",
            "format": "uri",
            "description": "The URL to perform a POST request to in order to upload the media file"
          }
        }
      },
      "member": {
        "type": "object",
        "title": "Member",
        "description": "",
        "externalDocs": {
          "description": "Official documentation for the Member resource",
          "url": "https://docs.patreon.com/#member"
        },
        "properties": {
          "campaign_lifetime_support_cents": {
            "type": "number",
            "description": "The total amount that the member has ever paid to the campaign in campaign's currency.\n0 if never paid"
          },
          "currently_entitled_amount_cents": {
            "type": "number",
            "description": "The amount in cents that the member is entitled to.\nThis includes a current pledge, or payment that covers the current payment period"
          },
          "email": {
            "type": "string",
            "description": "The member's email address.\nRequires the campaigns.members[email] scope"
          },
          "full_name": {
            "type": "string",
            "description": "Full name of the member user",
            "examples": [
              "John Doe"
            ]
          },
          "is_follower": {
            "type": "boolean",
            "description": "The user is not a pledging patron but has subscribed to updates about public posts"
          },
          "last_charge_date": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "Datetime of last attempted charge.\n`null` if never charged"
          },
          "last_charge_status": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "Paid",
              "Declined",
              "Deleted",
              "Pending",
              "Refunded",
              "Fraud",
              "Other"
            ],
            "description": "The result of the last attempted charge.\nThe only successful status is `'Paid'`.\n`null` if never charged\n\nNote: this will likely be either `'Paid'` or `'Pending'`"
          },
          "lifetime_support_cents": {
            "type": "number",
            "description": "The total amount that the member has ever paid to the campaign.\n0 if never paid"
          },
          "next_charge_date": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "Datetime of next charge.\n`null` if annual pledge downgrade"
          },
          "note": {
            "type": "string",
            "description": "The creator's notes on the member"
          },
          "patron_status": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "active_patron",
              "declined_patron",
              "former_patron"
            ],
            "description": "A `null` value indicates the member has never pledged"
          },
          "pledge_cadence": {
            "type": "number",
            "description": "Number of months between charges\n\nNote: this will be `1` if Campaign.is_monthly is `true`",
            "examples": [
              "1"
            ]
          },
          "pledge_relationship_start": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "Datetime of beginning of most recent pledge chainfrom this member to the campaign.\nPledge updates do not change this value"
          },
          "will_pay_amount_cents": {
            "type": "number",
            "description": "The amount in cents the user will pay at the next pay cycle",
            "examples": [
              "500"
            ]
          }
        }
      },
      "post": {
        "type": "object",
        "title": "Post",
        "description": "",
        "externalDocs": {
          "description": "Official documentation for the Post resource",
          "url": "https://docs.patreon.com/#post-v2"
        },
        "properties": {
          "app_id": {
            "type": [
              "number",
              "null"
            ],
            "description": "Platform app id"
          },
          "app_status": {
            "type": [
              "string",
              "null"
            ],
            "description": "Processing status of the post"
          },
          "content": {
            "type": [
              "string",
              "null"
            ],
            "description": ""
          },
          "embed_data": {
            "type": [
              "object",
              "null"
            ],
            "description": "An object containing embed data if media is embedded in the post"
          },
          "embed_url": {
            "type": [
              "string",
              "null"
            ],
            "format": "uri",
            "description": "Embed media url"
          },
          "is_paid": {
            "type": [
              "boolean",
              "null"
            ],
            "description": "Whether the post incurs a bill as part of a pay-per-post campaign"
          },
          "is_public": {
            "type": [
              "boolean",
              "null"
            ],
            "description": "- `true` if the post is viewable by anyone\n- `false` if only patrons (or a subset of patrons) can view"
          },
          "published_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "Datetime that the creator most recently published (made publicly visible) the post"
          },
          "tiers": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "The tier ids that allow the patrons from those tiers to view the post.\nEmpty array if no tiers assigned even if {@link Post.is_paid} is true"
          },
          "title": {
            "type": [
              "string",
              "null"
            ],
            "description": ""
          },
          "url": {
            "type": "string",
            "format": "uri",
            "description": "A URL to access this post on patreon.com"
          }
        }
      },
      "pledge-event": {
        "type": "object",
        "title": "PledgeEvent",
        "description": "",
        "externalDocs": {
          "description": "Official documentation for the PledgeEvent resource",
          "url": "https://docs.patreon.com/#pledge-event"
        },
        "properties": {
          "amount_cents": {
            "type": "number",
            "description": "Amount (in the currency in which the patron paid) of the underlying event"
          },
          "currency_code": {
            "type": "string",
            "description": "ISO code of the currency of the event"
          },
          "date": {
            "type": "string",
            "format": "date-time",
            "description": "The date which this event occurred"
          },
          "payment_status": {
            "type": "string",
            "enum": [
              "Paid",
              "Declined",
              "Pending",
              "Refunded",
              "Fraud",
              "Other"
            ],
            "description": "Status of underlying payment"
          },
          "tier_id": {
            "type": [
              "string",
              "null"
            ],
            "description": "Id of the tier associated with the pledge"
          },
          "tier_title": {
            "type": [
              "string",
              "null"
            ],
            "description": "Title of the reward tier associated with the pledge"
          },
          "type": {
            "type": "string",
            "enum": [
              "pledge_start",
              "pledge_upgrade",
              "pledge_downgrade",
              "pledge_delete",
              "subscription"
            ],
            "description": ""
          }
        }
      },
      "tier": {
        "type": "object",
        "title": "Tier",
        "description": "",
        "externalDocs": {
          "description": "Official documentation for the Tier resource",
          "url": "https://docs.patreon.com/#tier"
        },
        "properties": {
          "amount_cents": {
            "type": "number",
            "description": "Monetary amount associated with this tier (in U.S. cents)"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Datetime this tier was created"
          },
          "description": {
            "type": "string",
            "description": "Tier display description"
          },
          "discord_role_ids": {
            "type": [
              "object",
              "null"
            ],
            "description": "The discord role IDs granted by this tier"
          },
[...]
