:root {
    --vp-patreon-color: #f96854;
    --vp-patreon-background: #052d49;
}

:root {
    --vp-c-brand-1: var(--vp-c-red-1);
    --vp-c-brand-2: var(--vp-c-red-2);
    --vp-c-brand-3: var(--vp-c-red-3);
    --vp-c-brand-soft: var(--vp-c-red-soft);
}

:root {
    --vp-home-hero-name-color: transparent !important;
    --vp-home-hero-name-background: linear-gradient(90deg, var(--vp-patreon-color), var(--vp-c-brand-1)) !important;
}

.VPNavBarMenu.menu .VPNavBarMenuLink:last-child span {
    line-height: unset;
}

.VPNavBarMenu.menu .VPNavBarMenuLink:last-child span {
    border: 1px solid var(--vp-c-white);
    line-height: 20px;
    border-radius: 6px;
    padding: 6px 14px;
    background-color: var(--vp-c-yellow-2);
    color: var(--vp-c-white) !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.VPNavBarMenu.menu .VPNavBarMenuLink:last-child span span {
    background-color: var(--vp-c-white);
    border-color: var(--vp-c-white);
    width: 20px !important;
    height: 20px !important;
}
