name: Resource schemas
on:
  push:
    paths:
      - 'src/schemas/v2/resources/*'
      - 'src/schemas/v2/relationships.ts'
permissions:
  contents: write
env:
  NODE_VERSION: 22.x
jobs:
  update:
    name: Update v2 schemas
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Install node.js v${{ env.NODE_VERSION}}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: npm

      - name: Install dependencies
        run: npm install

      - name: Run tsc
        run: npm run prestart

      - name: Commit changes
        uses: stefanzweifel/git-auto-commit-action@v7
        with:
          commit_message: Update generated schemas
